@use '/src/scss/utils' as *;

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: rem(16) rem(18);
  border-top: rem(8) solid transparent;
}

.hidden {
  @include sr-only;
}

.text {
  white-space: pre-wrap;
}

.footer {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: rem(18);
}

.date {
  font-size: rem(14);
  font-weight: 500;
}

.icon {
  vertical-align: top;
}
