// Mixin to manage responsive breakpoints

// 480px, 768px, 1024px
$breakpoints: (
  'small': 30em,
  'medium': 48em,
  'large': 64em
);

@mixin respond-to($size) {
  @media (min-width: map-get($breakpoints, $size)) {
    @content;
  }
}

// Mixin for screen readers
@mixin sr-only {
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  position: absolute;
  border: 0;
  overflow: hidden;
  white-space: nowrap;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
}

// Mixin for main button
@mixin primary-btn {
  padding: 0.5rem 0.75rem;
  border-radius: 0.375rem;
  font-weight: 500;
  color: var(--clr-ntrl-max);
  background-color: var(--clr-primary);
}
