// Inter family
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/inter-400.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  src: url('/assets/inter-500.woff2') format('woff2');
}

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/inter-700.woff2') format('woff2');
}
