:root {
  --clr-primary: #6979F8;
  --clr-primary-lt: #A5AFFB;

  --clr-base: #3F3356;
  --clr-base-dk: #1A051D;

  --clr-yellow: #FFE29D;
  --clr-yellow-dk: #FFCF5C;

  --clr-orange: #FFC7A6;
  --clr-orange-dk: #FFA26B;

  --clr-purple: #DBA5F5;
  --clr-purple-dk: #BE52F2;

  --clr-blue: #66B5F8;
  --clr-blue-dk: #0084F4;

  --clr-green: #7DDFC3;
  --clr-green-dk: #00C48C;

  --clr-red: #FDAFBB;
  --clr-red-dk: #FF647C;

  --clr-helper: #F7F5F9;
  --clr-helper-dk: #ECE9F1;

  --clr-ntrl-max: #FFFFFF;
}
