@use '/src/scss/utils' as *;

.header {
  width: 100%;
  min-height: rem(72);
  padding: rem(24);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: rem(16);
  background-color: var(--clr-bg);

  @include respond-to('large') {
    padding: 0 rem(32);
    flex-direction: row;
    justify-content: space-between;
    gap: 0;
  }
}

.content {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: rem(16);

  @include respond-to('large') {
    width: auto;
    gap: rem(32);
  }
}

.finder {
  width: 100%;
  max-width: rem(450);
  position: relative;
  color: var(--clr-base-lt);

  @include respond-to('large') {
    width: rem(450);
  }
}

.finder:focus-within {
  color: var(--clr-base);
}

.searchIcon {
  width: rem(24);
  height: rem(24);
  position: absolute;
  top: 50%;
  left: rem(10);
  transform: translateY(-50%);
}

.input {
  width: 100%;
  padding: rem(8) rem(42);
  padding-right: rem(10);
  border: none;
  border-radius: rem(6);
}

.input:focus {
  outline: rem(2) solid var(--clr-primary);
}

.input::placeholder {
  color: var(--clr-base-lt);
}

.btn {
  padding: rem(8);
  border-radius: rem(12);
  color: var(--clr-ntrl-max);
  background-color: var(--clr-primary);
}

.addIcon {
  width: rem(24);
  height: rem(24);
  vertical-align: top;
}
