@use '/src/scss/utils' as *;

.main {
  width: 100%;
  padding: rem(24);

  @include respond-to('large') {
    padding: rem(32);
  }
}

.hidden {
  @include sr-only;
}

.layout {
  display: grid;
  gap: rem(24);
  grid-template-columns: repeat(auto-fill, minmax(min(100%, rem(254)), 1fr));
  grid-auto-rows: rem(280);
}
